<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>登陆</title>
</head>
<body>
<center>

    <form action="/center/teacherAdd">
        <table border="2">
    <tr>
        <td>老师工号</td>
        <td><input type="text" name="teacherid"/></td>
    </tr>
    <tr>
        <td>姓名</td>
        <td><input type="text" name="name"/></td>
    </tr>
    <tr>
        <td>性别</td>
        <td><input type="text" name="sex"/></td>
    </tr>
    <tr>
        <td>生日</td>
        <td><input type="text" name="birthday"/></td>
    </tr>
    <tr>
        <td>地址</td>
        <td><input type="text" name="addr"/></td>
    </tr>
    <tr>
        <td>电话</td>
        <td><input type="text" name="phone"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="注册"/></td>
        <td><input type="reset" /></td>
    </tr>
    </table>


</center>
</body>
</html>